.container {
  margin: 0 10%;
}

.banner{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bannerTextWrapper{
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  z-index: 1;
  background-color: #F3F3F3;
  padding: 60px;
}

.bannerTextWrapper p, .bannerTextWrapper h1{
  margin: 0;
}

.bannerTextWrapper p{
  font-style: italic;
}

.test{
  background-color: #0070f3;
}

.lightBackground h1{color: var(--primary);}
.lightBackground p{color: var(--darkGrey);}