@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeInFlowers {
  0% {opacity: 0;}
  100% {opacity: 0.4;}
}

@keyframes slideIn {
  0% {width: 0;}
  100% {width: 100%}
}

/* === Broad Sections / Wrappers === */

.sectionContainer{
  display: grid;
  grid-template-columns: 400px 1fr;
  overflow-y: hidden;
  transition: 1s all;
  height: calc(var(--vh) *100);
  
}

.allContentWrapper{
  background-color: #F3F3F3;
  fill: var(--primary);
  transition: 1s all;
  height: calc(var(--vh) *100);
  --videoWidth: 100%;
}
.allContentWrapper.dark{
  background-color: #363633;
  color: #F3F3F3;
  
}

/* === Hero Content === */
.heroBanner{
  height: calc(var(--vh) *100);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroBannerTextWrapper{
  width: 900px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0px;
  z-index: 1;
  padding: 60px;
  margin-left: 00px;
  background-color: none;
  transition: 1s all;
  animation: fadeIn 1s ease-in-out;
}

.heroBannerTextWrapper *{
  opacity: 0;
}
.heroBannerTextWrapper *:nth-child(1){
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 3s;
}
.heroBannerTextWrapper *:nth-child(2){
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 3s;
}
.heroBannerTextWrapper *:nth-child(3){
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 4s;
}


.heroBannerTextWrapper *:nth-child(4){
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 5s;
}
.heroBannerTextWrapper.dark{
  background-color: #363633;
}

.heroBannerTextWrapper{
  background-color: #F3F3F3;
}
.heroBannerTextWrapper h1{
  white-space: nowrap;
}
.heroBannerTextWrapper.dark p{
  transition: 0.5s all;
}
.heroBannerTextWrapper.dark p {
  color: #F3F3F3;
}

.heroBannerTextWrapper p, .heroBannerTextWrapper h1{
  margin: 0;
}

.heroBannerTextWrapper p{
  font-style: italic;
}

/* === Video === */

.videoContainer video{
  width: 100%;
  height: calc(var(--vh) *100);
  object-fit: cover;
}

.videoContainer {
  border: 0 solid #C5B377;
  border-right-width: 5px;
  height: calc(var(--vh) *100);
  animation: slideIn 3s ease-in-out forwards;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
  width: 0;
}

/* === Buttons / Toggles === */

.buttonContainer{
  display: flex;
  gap: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

.darkToggleButton{
  position: absolute;
  height: 50px;
  width: 50px;
  right: 20px;
  transition: 1s all;
  top: 20px;
  background-color: #F3F3F3;
  animation: fadeIn 1s ease-in-out;
}

.dark .darkToggleButton{
  background-color: #363633;
}

.darkToggleButton svg{
  cursor: pointer;
  height: 100%;
  transition: 1s all;
}

.dark .darkToggleButton svg{
  transform: rotate(180deg);
}

.solidButton{
  background-color: var(--primary);
  border: 3px solid var(--primary);
  color: white;
  white-space: nowrap;
  margin-top: 30px;
  padding: 7px 33px;
}

.borderedButton{
  color: var(--primary);
  white-space: nowrap;
  border: 3px solid var(--primary);
  margin-top: 30px;
  padding: 7px 30px;
  transition: 0.5s all;
}

.borderedButton:hover{
  background-color: var(--primary);
  color: #F3F3F3;
}


/* === Responsive For Tablet === */
@media only screen and (max-width: 1300px){
  .heroBanner, .heroBannerTextWrapper{
    width: auto;
    overflow-x: hidden;
  }

  .sectionContainer{
    grid-template-columns: 250px 1fr;
  }
  
}

@media only screen and (max-width: 1000px){
  .heroBanner{
    justify-items: center;
    width: auto;
  }
  .heroBannerTextWrapper{
    padding: 40px;
    text-align: center;
    width: auto;
  
  }

  .buttonContainer{
    display: flex;
    justify-content: center;
  }
 
}


/* === Responsive For Mobile === */

@media only screen and (max-width: 750px){
  .heroBannerTextWrapper *{
    animation-delay: 0s !important;
  }

  .heroBanner{
    position: relative;
    height: calc(var(--vh) *100);
  }
  .heroBannerTextWrapper{
    transition: 1s all;
    padding: 20px;
    margin: 0 10px 0 10px;
  }

  .sectionContainer{
    grid-template-columns: 1fr;
    
  }

  .allContentWrapper{
    overflow-y: hidden;
    --videoWidth: 100%;
  }

  .videoContainer{
    position: absolute;
    width: 100%;
    overflow-y: hidden;
    border-width: 10px !important;
    max-height: 100%;
    overflow-y: hidden;
    opacity: 1;
    animation: slideIn 0s;
    
  }

  .videoContainer video{
    animation: fadeInFlowers 5s ease-in forwards;
    animation-delay: 3s;
    opacity: 0;
  }

  .darkToggleButton{
    z-index: 1;
    padding: 10px;
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
    transition: 1s all;
    top: unset;
  }

  .darkToggleButton svg{
    z-index: 1;
    ;
   
  }

}

